/*styles index*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
section {
  padding: 94px 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-family: 'Roboto';
}
.link-letter {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.link{
  list-style-type: none;
  display: flex;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 53px;
}
.nav-info {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.header-nav .logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  text-decoration: none;
  margin-right: 97px;
}
header .nav-info .info-item .info {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  text-decoration: none;
}
header .nav-info .info-item .info.info:hover {
  color: #2196f3;
}
header .header-nav .nav-item .nav-link:hover {
  color: #2196f3;
}

main .section-title .section-button:hover {
  cursor: pointer;
}
header .header-nav .nav-item .nav-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  text-decoration: none;
}
header .header-nav .nav-item .current {
  color: #2196f3;
}

main .section-title {
  background-color: #2f303a;
  padding: 200px calc((100% - 1200px) / 2);
  align-items: center;
  text-align: center;
}
main .section-title .title {
  width: 696px;
  margin: 20px auto;

  font-size: 44px;
  text-transform: capitalize;
  color: #ffffff;
}
main .section-title .section-button {
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 700;
  text-transform: capitalize;
  padding: 10px 32px;
}

section .advantage-item .advantage-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #212121;
}

section .advantage-item .advantage-paragraph {
  font-family: 'Roboto';
  font-size: 14px;
  color: #757575;
  line-height: 24px;
}

section .perfil-item .name-user {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

section .profession {
  font-family: 'Roboto';
  font-size: 16px;
  color: #757575;
  line-height: 19px;
}
footer {
  background-color: #2f303a;
  width: 100%;
  height: 252px;
  left: 0px;
  top: 2097px;
}
.footer a{
display: flex;

}
address .location {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
address .info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  text-decoration: none;
}
address .info:hover {
  color: #2196f3;
}
footer .logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  text-decoration: none;
}
/*styles portafolio*/
main .filter-btn .btn-item:hover {
  cursor: pointer;
}

section .imgproyec-item .proyec-paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
